@import "compass";

$content-width: 550px;

body {
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 400;
}

.content {
  width: $content-width;
  margin: 0 auto;
}

header#banner {
  min-height: 600px;
  max-height: 1100px;
  padding: 0px;
  overflow: hidden;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #edf4f5;
  background-image: url(image-path('header_bg.png'));
  background-origin: padding-box;
  background-position: 50% 55%;
  background-size: cover;
  color: #153c4b;

  .content {
    margin-bottom: 64px;

    h1 {
      margin-top: 58px;
      font-size: 48pt;
      font-weight: 700;
      line-height: 58pt;
    }

    h2 {
      font-size: 20pt;
      font-weight: 400;
    }
  }

}

nav#top {
  margin: 32px auto 0 auto;
  text-align: center;

  a {
    margin: 0 24px;
    font-weight: 600;
    color: #153c4b;
    text-decoration: none;
    font-size: 16pt;
    cursor: pointer;

  }
}


#topnav-bulb {
  width: 32px;
  height: 54px;
  display: inline-block;
  margin: 0 16px;
  vertical-align: middle;
  margin-top: -8px;
  background-image: url(image-path('topnav_bulb.png'));
  background-size: 32px;
}

#red-section-inverse-triangle {
  width: 100%;
  height: auto;
  display: block;
}

section#red-section {
  height: 500px;
  background-color: rgb(250,59,86); // Old browsers
  @include filter-gradient(#fa3b56, #fb4a49, vertical); // IE6-9
  @include background-image(linear-gradient(top, rgba(250,59,86,1) 0%,rgba(251,74,73,1) 100%));
  overflow: hidden;

  .content {
    margin-top: 64px;
    width: $content-width;
    color: white;
    font-size: 19.5pt;

    a {
      text-decoration: underline;
      font-weight: 700;
      color: white;
    }
  }

  #clients {
    width: 900px;
    margin: 0 auto;

    #client-pspdfkit {
      display: inline-block;
      width: 128px;
      height: 128px;
      background-image: url(image-path('pspdfkit.png'));
      background-size: 128px;
    }

    #client-mindnode {
      display: inline-block;
      width: 128px;
      height: 128px;
      background-image: url(image-path('mindnode.png'));
      background-size: 128px;
    }
  }
}

    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}