body {
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 400;
}

header#banner {
  height: 100vh;
  min-height: 650px;
  max-height: 1100px;
  padding: 0px;
  overflow: hidden;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #edf4f5;
  background-image: url(image-path('header_bg.png'));
  background-origin: padding-box;
  background-position: 50% 55%;
  background-size: cover;
  color: #153c4b;
}

nav#top {
  margin: 32px auto 0 auto;
  text-align: center;
}

nav#top a {
  margin: 0 24px;
  font-weight: 600;
  color: #153c4b;
  text-decoration: none;
  font-size: 16pt;

}

#topnav-bulb {
  width: 32px;
  height: 54px;
  display: inline-block;
  margin: 0 16px;
  vertical-align: middle;
  margin-top: -8px;
  background-image: url(image-path('topnav_bulb.png'));
  background-size: 32px;

}
    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}