<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
    <meta charset="utf-8">
    <title>Creative Pragmatics</title>
    <meta name="description" content="Beautiful &amp; functional apps for iOS and Android. Stunning Ruby web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "normalize", "styles", "normalize-legacy" %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag  "html5shiv-printshiv" %>
    <![endif]-->
    <script src="//use.typekit.net/aet5aph.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <header id="banner">
        <div class="content">
            <nav id="top">
                <a href="#">Home</a>
                <a href="#">Work</a>
                <span id="topnav-bulb"></span>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
            </nav>
            <h1>Unique Businesses need unique Apps.<sup>*</sup></h1>
            <h2><sup>*</sup>And we know how to make them :)</h2>
        </div>
        <svg version="1.1" id="red-section-inverse-triangle" xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 3" 
        enable-background="new 0 0 100 3" xml:space="preserve" preserveAspectRatio ="xMinYMin slice">
            <polygon fill="#FA3B56" points="50,3.01 0,0 0,3.01 100,3.01 100,0"/>
        </svg>
        <section id="red-section">
            <div class="content">
                Attractive design, dedication, and great code quality 
                are the key ingredients for <b>apps that amaze users</b>
                and move the needle as a result.<br><br>
                We have designed and implemented great apps, 
                over and over again - <a href="#">just take a look.</a>
            </div>
            <div id="clients">
                <div id="client-pspdfkit"></div>
                <div id="client-mindnode"></div>
            </div>
        </section>
    </header>
    
    <footer role="contentinfo">
    </footer>
    
</body>
</html>
