<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
    <meta charset="utf-8">
    <title>Creative Pragmatics</title>
    <meta name="description" content="Beautiful &amp; functional apps for iOS and Android. Stunning Ruby web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "normalize", "styles", "normalize-legacy" %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag  "html5shiv-printshiv" %>
    <![endif]-->
    <script src="//use.typekit.net/aet5aph.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <header id="banner">
        <nav id="top">
            <a href="#">Home</a>
            <a href="#">Work</a>
            <span id="topnav-bulb"></span>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    
    <footer role="contentinfo">
        <small>Copyright &copy; <time datetime="2015">2015</time></small>
    </footer>
    
</body>
</html>
